@model CheckBoxList.Mvc.Demo.Models.InvestmentViewModel

<div style="margin: 45px 0;">
    <a class="btn btn-default btn-lg" href="@Url.Action("Example1")">
        Example 1
    </a>
    
    <a class="btn btn-default btn-lg" href="@Url.Action("Example2")">
        Example 2
    </a>
</div>