@using System.Web.Mvc.Html
@using CheckBoxList.Mvc.Html
@model CheckBoxList.Mvc.Demo.Models.InvestmentViewModel

<div style="margin: 25px; padding: 25px; border: 1px solid #ccc; float: left;">
    <a href="@Url.Action("Demo1")">Demo 1</a>
</div>